<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Devschool Blog</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="../../index.html">My Dev Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/index.html">Home</a>
            </li>
            <li>
              <a href="/about.html">About</a>
            </li>
            <li>
              <a href="/portfolio.html">Portfolio</a>
            </li>
            <li>
              <a href="/contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>The Blog</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="ct-wrapper stretched">
      <div class="outer-wrapper">
        <div class="main-wrapper">
          <div class="content section" id="content">
            <div class="blog-posts hfeed">
              <div class="post-outer">
                <div class="post hentry">
                  <div class ="post-body entry-content">
                    <article>
                      <div class="article first">
                        <div class="img-wrapper" style="position: static; overflow: hidden; background-color: rgba(0, 0, 0, 0);">
                          <img class="image" src="/img/{{ file.page.image }}" style="width: 100%; height: auto; position: relative; left: 0px; top: 0px;">
                        </div>
                        <div class="excerpt">
                          <div class="meta">
                            <span class="author">
                              <i class="fa fa-user"></i>
                              {{ file.page.author }}
                            </span>
                            <span class="PrettyDate">
                              <i class="fa fa-bookmark"></i>
                              {{ file.page.prettyDate }}
                            </span>
                          </div>
                          <h2>{{ file.page.title }}</h2>
                          <h3 class="subtitle">{{ file.page.tagline }}</h3>
                        </div>
                        <div class="post-content">
                          {{ file.page.body | safe }}
                        </div>
                      </div>
					  </article>
                    <div class="clear: both;"></div>
					<div class="article-container">
                      {% for related in file.page.related %}
                      <div class="article">
                        <div class="img-wrapper" style="position: static; overflow: hidden; background-color: rgba(0, 0, 0, 0);">
                          <img class="image" src="{{ site.baseurl }}/img/{{ related.image }}" style="width: 100%; height: auto; position: relative; left: 0px; top: 0px;">
                        </div>
                        <div class="excerpt">
                          <div class="meta">
                            <span class="author">
                              <i class="fa fa-user"></i>
                              {{ related.author }}
                            </span>
                            <span class="PrettyDate">
                              <i class="fa fa-bookmark"></i>
                              {{ related.prettyDate }}
                            </span>
                          </div>
                          <h2>
                            <a href="{{ related.permalink }}">{{ related.title }}</a>
                          </h2>
                          <h3 class="subtitle">
                            {{ related.tagline }}
                          </h3>
                          <p class="summary">
                          {{related.summary | safe }}
                          </p>
                        </div>
                        <div class="center">
                          <a class="continue" href="{{ related.permalink }}">Continue Reading</a>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="article-container-end"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clr"></div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
              <li>
                <a href="https://twitter.com/BaileysABeech">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://github.com/arcox80">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-2x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; My Devschool Blog 2016</p>
          </div>
        </div>
      </div>
    </footer>


    <script type="application/text" id="currTags">{{ file.page.tags }}</script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/js/all.min.js"></script>

  </body>

</html>
